<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% block link %}
                {% include '@BackOffice/Templates/includes_template.html.twig' %}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header_include %}
            {% include '@BackOffice/Templates/header_template.html.twig' %}
        {% endblock %}

        <div id="content">
            {% block body %}
                {% block content %}    
                {% endblock %}
            {% endblock %}
        </div>

        {% block footer_include %}
            {% include '@BackOffice/Templates/footer_template.html.twig' %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>