{% block head %}
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} - EER</title>
    {% block link %}
        {% include '@App/includes.html.twig' %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block header_include %}
    {% include '@App/header.html.twig' %}
{%endblock %}

{% block body %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block footer_include %}
    {% include '@App/footer.html.twig' %}
{%endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="{{asset('js/bootstrap.js')}}"></script>
{% endblock %}

