{% extends "@App/template.html.twig" %}

{% block title %}Welcome!{% endblock %}
{% block stylesheets %}{% endblock %}
{% block overbody %}
    <div class="table-responsive">
        {% block body %}{% endblock %}
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}