footer {
  text-align:center;
}

.section-title {
  text-align:center;
}

input[type=checkbox]:checked ~ div#password-group {
  display:inherit;
}

body {
  background-color:rgb(221,221,221);
}

#profil-form {
  background-color:#ffffff;
  padding-bottom:1%;
  border-radius:5px;
}

#password-group {
  display:none;
}

td > div.btn-group {
  float: right;
}

table.table.table-striped > tbody > tr > td {
  vertical-align: middle;
}

table{
  text-align: center;
}