<footer class="footer">
    {% block footer %}
        <div class="container">
            {% block credits %}
                <span>Project version - Branch, Company ©  - By Authors, Location</span>
            {% endblock %}
        </div>
    {% endblock %}
</footer>