{% extends "@App/template.html.twig" %}

{% block title %} Connexion {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('css/custom/login-form.css') }}" />

    <div class="container">
        <h1 style="text-align: center;">Bonjour !</h1>
        <h2 style="text-align: center;">Connectez-vous</h2>

        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="login-card">
            <img src="{{asset('img/avatar.png')}}" class="avatar-img-card">
            <form class="form-signin" action="{{ path('login')}}" method="post">
                <input class="form-control" type="text" required="" placeholder="Nom d'utilisateur" autofocus="" id="username" name="_username">
                <input class="form-control" type="password" required="" placeholder="Mot de passe" id="password" name="_password">
                <div class="checkbox">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="formCheck-1">
                        <label class="form-check-label" for="formCheck-1">Se souvenir de moi</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Connexion</button>
            </form>
            <a href="#" class="forgot-password">Mot de passe oublié</a>
        </div>
    </div>
{% endblock %}