{% extends "@BackOffice/Templates/footer_template.html.twig" %}

{% block credits %}
    <span>>EER v0.1.0 - Green WorkForce, Chen&amp;Co ©  - Par Alexandre B. Moigne et Kévin Le Torc'h, CIR3 ISEN Brest</span>
{% endblock %}