{% extends "@BackOffice/Templates/header_template.html.twig" %}

{% block navbarmenus %}
     <a class="navbar-brand" href="{{path('back_office_homepage')}}">
                EER - Comptabilisez vos trajets écologiques<br>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="{{path('back_office_homepage')}}">
                            Acceuil
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{{path('back_office_travels')}}">
                            Mes déplacements
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
                            {% block nom_utilisateur %} Julien Rambert {% endblock %}
                        </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="{{path('back_office_profil')}}">
                                Mon profil
                            </a>
                            <div class="dropdown-divider" role="presentation">

                            </div>
                            <a class="dropdown-item" role="presentation" href="#">
                                Déconnexion
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
{% endblock %}