<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <title>{% block title %}{% endblock %} - EER</title>
            {% include '@BackOffice/includes.html.twig' %}
                        
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        
    </head>
    <body>

        {% include '@FrontOffice/header.html' %}
        
        {% block body %}{% endblock %}

        {% include '@FrontOffice/footer.html' %}

        {% block javascripts %}{% endblock %}
        
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="{{asset('js/bootstrap.js')}}"></script>
    </body>
</html>
