{% block head %}
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} - EER</title>
    {% include '@BackOffice/includes.html.twig' %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% endblock %}

{% block header_include %}
    {% include '@FrontOffice/header.html' %}
{%endblock %}
{% block content %}{% endblock %}
{% block footer_include %}
    {% include '@FrontOffice/footer.html' %}
{%endblock %}

{% block javascripts %}

{% endblock %}

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="{{asset('js/bootstrap.js')}}"></script>

