{% extends "@App/template.html.twig" %}

{% block title %} Accueil {% endblock %}
{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1>Bienvenue</h1>
            <p>Bonjour ami vert !<br>Sur ce site vous pourrez déclarer vos déplacement propres afin de percevoir vos indemnités kilometriques</p>
            <p><a class="btn btn-primary" role="button" href="{{path('front_office_homepage')}}">Commencer maintenant</a></p>
        </div>
    </div>
    <div class="container">
        <h1 class="section-title">Lorem ipsum<br></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat orci facilisis magna faucibus, quis sodales nunc rutrum. Morbi commodo, mauris ut porttitor placerat, ipsum odio porttitor mauris, ac laoreet orci mi at nisl. Suspendisse
            potenti. Duis a urna non velit fringilla mattis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse vitae mi lacinia, mattis odio eget, blandit arcu. Nulla congue erat eu vehicula eleifend. Nulla erat diam, tempor sed
            accumsan vitae, gravida sed nulla. Mauris vestibulum scelerisque erat sit amet cursus. In vitae tincidunt odio. Praesent arcu purus, placerat a velit laoreet, sodales molestie mi. Morbi vestibulum urna mi, sit amet euismod elit interdum eu.<br></p>
    </div>
    <div style="background-color:white;">
        <div class="container">
            <h1 class="section-title">Passez au vert !</h1>
            <p>Utiliser les transports verts devient de plus en plus intéressant de nos jours, l'indemnisation kilometrique n'est qu'une des raisons parmi tant d'autres !<br><br></p>
        </div>
    </div>
    <div class="container">
        <h1 class="section-title">Lorem ipsum<br></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat orci facilisis magna faucibus, quis sodales nunc rutrum. Morbi commodo, mauris ut porttitor placerat, ipsum odio porttitor mauris, ac laoreet orci mi at nisl. Suspendisse
            potenti. Duis a urna non velit fringilla mattis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse vitae mi lacinia, mattis odio eget, blandit arcu. Nulla congue erat eu vehicula eleifend. Nulla erat diam, tempor sed
            accumsan vitae, gravida sed nulla. Mauris vestibulum scelerisque erat sit amet cursus. In vitae tincidunt odio. Praesent arcu purus, placerat a velit laoreet, sodales molestie mi. Morbi vestibulum urna mi, sit amet euismod elit interdum eu.<br></p>
    </div>

{% endblock %}