{% extends "@App/template.html.twig" %}

{% block title %} Accueil {% endblock %}
{% block body %}

    <div class="container" id="profil-form">
        <h1>Editer mon profil</h1>
        <hr>
        <form>
            <div class="form-group">
                <label>Nom:</label>
                <input class="form-control" type="text" value="Rambert" required="" minlength="3" pattern="w+" autofocus=""><label>Prénom:</label><input class="form-control" type="text" value="Julien" required="" minlength="3" pattern="w+"></div>
            <div class="form-group">
                <label>Nom de l'entreprise:</label>
                <input class="form-control" type="text" value="Thalès" required="" minlength="3" pattern="w+"></div>
            <div class="form-group">
                <label>Mail:</label>
                <input class="form-control" type="email" value="julien.rambert@wanadoo.fr" required="" inputmode="email"></div><input type="checkbox"><label>Changer le mot de passe</label>
            <div class="form-group" id="password-group">
                <label>Mot de passe:</label>
                <input class="form-control" type="password"><label>Confirmer le mot de passe:</label><input class="form-control" type="password"></div>
            <div>
                <button class="btn btn-primary" type="button">Enregistrer</button>
            </div>
        </form>
    </div>

{% endblock %}